@import 'compass';
@import 'compass/css3';
@import 'susy';
@import 'normalize';

$base-font-size: 10px;
$total-columns  : 10;             // a 12-column grid
$column-width   : 7em;            // each column is 4em wide
$gutter-width   : 2em;            // 1em gutters between columns
$grid-padding   : $gutter-width;  // grid-padding equal to gutters

@font-face {
	font-family: 'iconic';
	src:url('fonts/iconic.eot');
	src:url('fonts/iconic.eot?#iefix') format('embedded-opentype'),
		url('fonts/iconic.woff') format('woff'),
		url('fonts/iconic.ttf') format('truetype'),
		url('fonts/iconic.svg#iconic') format('svg');
	font-weight: normal;
	font-style: normal;
}

html{
	font-size: 62.5%;
	color: #181818;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	background: #f6f6f6;
}

#main{
	padding: 20px 0 50px;
	@include container();
	//@include susy-grid-background;
}

.video-container{
	margin: 0 auto;
}

header{
	@include container();
	.inner{
		padding: 0;
		border-bottom: 6px solid #181818;
		@include at-breakpoint(62em 10 80em){
			font-size: 80%;
		}
		@include at-breakpoint(50em 10 62em){
			font-size: 60%;
		}
		@include at-breakpoint(39em 10 50em){
			font-size: 50%;
		}
		@include at-breakpoint(10 39em){
			font-size: 35%;
		}
		
	}
	h1{
		font-size: 13em;
		text-shadow: 1px 1px 1px #fff;
		letter-spacing: -1px;
		margin: 0;
		padding: 10px 0 0px;
		position: relative;
		left: -8px;
		@include at-breakpoint(62em 10 80em){
			left: -6px;
		}
		@include at-breakpoint(50em 10 62em){
			left: -5px;
		}
		@include at-breakpoint(39em 10 50em){
			left: -4px;
		}
		@include at-breakpoint(10 39em){
			padding: 5px 0 0px;
			left: -3px;
		}
	}
	h2{
		margin: 0;
		position: relative;
		top: -15px;
		left: -1px;
		margin-bottom: 20px;
		font-size: 2.5em;
		@include at-breakpoint(39em 10 50em){
			margin-bottom: 5px;
		}
		@include at-breakpoint(10 39em){
			top: -8px;
			margin-bottom: 5px;
			font-size: 3em;
		}
	}
}

footer{
	padding-top: 150px;
	@include container();
	p{
		font-weight: 300;
		letter-spacing: 1px;
		font-size: 1.4em;
		color: #ccc;
		a{
			color: #ccc;
			text-decoration: none;
			@include transition(color .3s ease);
			&:hover{
				color: #181818;
			}
		}
	}
}

.search{
	position: relative;
	@include at-breakpoint(62em 10 80em){
		font-size: 80%;
	}
	@include at-breakpoint(50em 10 62em){
		font-size: 60%;
	}
	@include at-breakpoint(39em 10 50em){
		font-size: 50%;
	}
	@include at-breakpoint(10 39em){
		font-size: 35%;
	}
	input[type="text"]{
		@include span-columns(9);
		@include omega;
		font-size: 7.8em;
		background: none;
		outline: 0;
		color: #181818;
		font-family: 'Open Sans Condensed', sans-serif;
		font-weight: 700;
		border: none;
		padding: 0;
	}
	input[type="submit"]{
		visibility: hidden;
		position: absolute;
		left: -9999px;
	}
}

.icon-magnifying-glass{
	font-size: 6.0em;
	color: #a9a9a9;
	@include span-columns(1);
	@include transition(color .3s ease);
	margin-top: 23px;
	@include at-breakpoint(62em 10 80em){
		margin-top: 19px;
	}
	@include at-breakpoint(50em 10 62em){
		margin-top: 14px;
	}
	@include at-breakpoint(39em 10 50em){
		margin-top: 12px;
	}
	@include at-breakpoint(10 39em){
		margin-top: 8px;
	}
}

.icon-magnifying-glass, .icon-heart-fill {
	font-family: 'iconic';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.icon-heart-fill{
	display: inline-block;
	padding-right: 5px;
}

.icon-magnifying-glass:before {
	content: "\e000";
}
.icon-heart-fill:before {
	content: "\e001";
}

.focus{
	.icon-magnifying-glass{
		color: #181818;
	}
}

.item{
	padding: 20px 0;
	@extend .group;
	@include at-breakpoint(10 50em){
		padding-bottom: 15px;
	}

	&.last{
		.divider{
			display: none;
		}
	}
	
	.divider{
		display: none;
		height: 1px;
		width: 33%;
		margin-left: 33%;
		background-color: #ccc; 
		float: left;
		margin-top: 20px;
		@include at-breakpoint(10 50em){
			display: block;
		}
	}

	.media-wrapper{
		@include span-columns(7);
		position: relative;
		line-height: 0;
		@include at-breakpoint(10 50em){
			@include span-columns(10);
		}
		img{
			width: 100%;
			position: relative;
			z-index:1;
		}
		video{
			width: 100%;
			height: 100%;
			position: absolute;
			z-index:10;
			top: 0;
			left: 0;
		}
		.controls{
			background: image-url('play-btn.png') no-repeat center center;
			width: 100%;
			height: 100%;
			position: absolute;
			z-index: 100;
			top: 0;
			left: 0;
			@include opacity(0.2);
			@include transition(opacity 0.3s ease);
			cursor: pointer;
			background-size: 20%;
			@include at-breakpoint(10 50em){
				@include opacity(0.5);
			}
			&:hover{
				@include opacity(0.7);
			}
		}
		&.playing{
			.controls{
				background: image-url('pause-btn.png') no-repeat center center;
				@include opacity(0);
				&:hover{
					@include opacity(0.5);
				}
				@include at-breakpoint(10 50em){
					background: none;
				}
			}
		}
	}
	.meta{
		@include span-columns(3);
		@include omega;
		@include at-breakpoint(10 50em){
			@include span-columns(10);
			padding-top: 10px;
		}
		.user{
			img{
				width: 7em;
				float: left;
				margin-right: 10px;
				@include border-radius(70px);
				@include at-breakpoint(10 50em){
					width: 5em;
				}
			}
			.name{
				float: left;
				font-size: 1.8em;
				padding-top: 20px;
				word-break: break-word;
				@include at-breakpoint(10 50em){
					font-size: 1.6em;
					padding-top: 15px;
				}
			}
		}
		.caption{
			padding-top: 20px;
			p{
				font-size: 1.5em;
			}
			@include at-breakpoint(10 50em){
				padding-top: 0;
				p{
					font-size: 1.3em;
				}
			}
		}
		.likes{
			p{
				font-size: 1.5em;
			}
			@include at-breakpoint(10 50em){
				p{
					font-size: 1.3em;
					margin-bottom: 0;
				}
			}
		}
	}
}

.error{
	font-size: 2em;
	padding-top: 30px;
	color: #da3b3b;
}

.load-more{
	width: 100%;
	background: #333;
	height: 60px;
	text-align: center;
	line-height: 60px;
	box-shadow: 2px 2px 0px #666;
	cursor: pointer;
	display: none;
	@include transition(all .3s ease);
	&:hover{
		background: #444;
		box-shadow: 2px 2px 0px #888;
	}

	span{
		color: white;
		font-size: 2.6em;
		font-weight: bold;
	}
}

.active{
	.load-more{
		display: block;
	}
	.error{
		display: none;
	}
}

.group:after {
	content: "";
	display: table;
	clear: both;
}
